body{
    background-color: rgb(255, 183, 0);
}

h1
{
    background-color: rgb(255, 238, 0);
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid white;
    border-radius :20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite; 
}

@keyframes example {
    form {box-shadow: 1px 1px 38px rgb(95, 95, 95);}
    to {box-shadow: 1px 1px 38px white;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}

